{% extends "layout.html" %}
{% block content %}
	  {% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('assign', pno=row.pno, essn=row.essn) }}">{{ row.fname }} {{row.lname}}</a> Essn: {{row.essn}}<br/>
              <small class="text-muted">ID: {{ row.CustomerID }} </small>
              <small class="text-muted">Name: {{ row.CustomerName }} </small>
             
            </div>
           
          </div>
        </article>
     {% endfor %}
	
{% endblock content %}